<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.fine.master.core.mapper.WxClerkMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.wx_id,a.collection_account_id,a.online_time,a.offline_time,a.use_status,
        a.create_time,a.update_time,a.yn
    </sql>


    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="wxId != null and wxId != '' " >
                and a.wx_id = #{wxId}
            </if>
            <if test="collectionAccountId != null and collectionAccountId != '' " >
                and a.collection_account_id = #{collectionAccountId}
            </if>
            <if test="useStatus != null and useStatus != '' " >
                and a.use_status = #{useStatus}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time asc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.fine.master.core.model.wx.WxClerkModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx_clerk a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.fine.master.core.model.wx.WxClerkModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx_clerk a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.fine.master.core.model.wx.WxClerkModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx_clerk a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.fine.master.core.model.wx.WxClerkModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx_clerk a
        <include refid="Example_Where_Clause_id"/>
    </select>



    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fn_wx_clerk a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.fine.master.core.model.wx.WxClerkModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx_clerk a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.fine.master.core.model.wx.WxClerkModel" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_fn_wx_clerk
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="wxId != null and wxId != '' " >
                wx_id,
            </if>
            <if test="collectionAccountId != null and collectionAccountId != '' " >
                collection_account_id,
            </if>
            <if test="onlineTime != null and onlineTime != '' " >
                online_time,
            </if>
            <if test="offlineTime != null and offlineTime != '' " >
                offline_time,
            </if>
            <if test="useStatus != null and useStatus != '' " >
                use_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="wxId != null and wxId != '' " >
                <![CDATA[  #{wxId}, ]]>
            </if>
            <if test="collectionAccountId != null and collectionAccountId != '' " >
                <![CDATA[  #{collectionAccountId}, ]]>
            </if>
            <if test="onlineTime != null and onlineTime != '' " >
                <![CDATA[  #{onlineTime}, ]]>
            </if>
            <if test="offlineTime != null and offlineTime != '' " >
                <![CDATA[  #{offlineTime}, ]]>
            </if>
            <if test="useStatus != null and useStatus != '' " >
                <![CDATA[  #{useStatus}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.fine.master.core.model.wx.WxClerkModel">
        UPDATE tb_fn_wx_clerk a
        <trim prefix="set" suffixOverrides=",">
            <!--<if test="wxId != null and wxId != '' " >-->
                <!--a.wx_id = #{wxId},-->
            <!--</if>-->
            <!--<if test="collectionAccountId != null and collectionAccountId != '' " >-->
                <!--a.collection_account_id = #{collectionAccountId},-->
            <!--</if>-->
            <if test="onlineTime != null and onlineTime != '' " >
                a.online_time = #{onlineTime},
            </if>
            <if test="offlineTime != null and offlineTime != '' " >
                a.offline_time = #{offlineTime},
            </if>
            <if test="useStatus != null and useStatus != '' " >
                a.use_status = #{useStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fn_wx_clerk a
        <trim prefix="set" suffixOverrides=",">
            <if test="useStatus != null and useStatus != '' " >
                a.use_status = #{useStatus},
            </if>
            <if test="yn != null and yn != '' " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>





</mapper>