<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.fine.master.core.mapper.WxMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.ac_name,a.wx_pass_wd,a.wx_name,a.to_wxid,a.total_link,a.binding_mobile,
        a.data_num,a.is_data_num,a.is_ok,a.day_num,a.group_num,a.is_group_num,a.is_ok_group,
        a.day_group_num,a.wx_qr_code,a.login_type,a.use_status,
        a.create_time,a.update_time,a.yn
    </sql>


    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="acName != null and acName != '' " >
                and a.ac_name = #{acName}
            </if>
            <if test="wxPassWd != null and wxPassWd != '' " >
                and a.wx_pass_wd = #{wxPassWd}
            </if>
            <if test="wxName != null and wxName != '' " >
                and a.wx_name = #{wxName}
            </if>
            <if test="toWxid != null and toWxid != '' " >
                and a.to_wxid = #{toWxid}
            </if>
            <if test="isOk != null and isOk != '' " >
                and a.is_ok = #{isOk}
            </if>
            <if test="isOkGroup != null and isOkGroup != '' " >
                and a.is_ok_group = #{isOkGroup}
            </if>
            <if test="loginType != null and loginType != '' " >
                and a.login_type = #{loginType}
            </if>
            <if test="useStatus != null and useStatus != '' " >
                and a.use_status = #{useStatus}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time asc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.fine.master.core.model.wx.WxModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.fine.master.core.model.wx.WxModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.fine.master.core.model.wx.WxModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.fine.master.core.model.wx.WxModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx a
        <include refid="Example_Where_Clause_id"/>
    </select>



    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fn_wx a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.fine.master.core.model.wx.WxModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.fine.master.core.model.wx.WxModel" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_fn_wx
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="acName != null and acName != '' " >
                ac_name,
            </if>
            <if test="wxPassWd != null and wxPassWd != '' " >
                wx_pass_wd,
            </if>
            <if test="wxName != null and wxName != '' " >
                wx_name,
            </if>
            <if test="toWxid != null and toWxid != '' " >
                to_wxid,
            </if>
            <if test="totalLink != null and totalLink != '' " >
                total_link,
            </if>
            <if test="bindingMobile != null and bindingMobile != '' " >
                binding_mobile,
            </if>
            <if test="dataNum != null and dataNum != '' " >
                data_num,
            </if>
            <if test="isDataNum != null and isDataNum != '' " >
                is_data_num,
            </if>
            <if test="isOk != null and isOk != '' " >
                is_ok,
            </if>
            <if test="dayNum != null and dayNum != '' " >
                day_num,
            </if>
            <if test="groupNum != null and groupNum != '' " >
                group_num,
            </if>
            <if test="isGroupNum != null and isGroupNum != '' " >
                is_group_num,
            </if>
            <if test="isOkGroup != null and isOkGroup != '' " >
                is_ok_group,
            </if>
            <if test="dayGroupNum != null and dayGroupNum != '' " >
                day_group_num,
            </if>
            <if test="wxQrCode != null and wxQrCode != '' " >
                wx_qr_code,
            </if>
            <if test="useStatus != null and useStatus != '' " >
                use_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="acName != null and acName != '' " >
                <![CDATA[  #{acName}, ]]>
            </if>
            <if test="wxPassWd != null and wxPassWd != '' " >
                <![CDATA[  #{wxPassWd}, ]]>
            </if>
            <if test="wxName != null and wxName != '' " >
                <![CDATA[  #{wxName}, ]]>
            </if>
            <if test="toWxid != null and toWxid != '' " >
                <![CDATA[  #{toWxid}, ]]>
            </if>
            <if test="totalLink != null and totalLink != '' " >
                <![CDATA[  #{totalLink}, ]]>
            </if>
            <if test="bindingMobile != null and bindingMobile != '' " >
                <![CDATA[  #{bindingMobile}, ]]>
            </if>
            <if test="dataNum != null and dataNum != '' " >
                <![CDATA[  #{dataNum}, ]]>
            </if>
            <if test="isDataNum != null and isDataNum != '' " >
                <![CDATA[  #{isDataNum}, ]]>
            </if>
            <if test="isOk != null and isOk != '' " >
                <![CDATA[  #{isOk}, ]]>
            </if>
            <if test="dayNum != null and dayNum != '' " >
                <![CDATA[  #{dayNum}, ]]>
            </if>
            <if test="groupNum != null and groupNum != '' " >
                <![CDATA[  #{groupNum}, ]]>
            </if>
            <if test="isGroupNum != null and isGroupNum != '' " >
                <![CDATA[  #{isGroupNum}, ]]>
            </if>
            <if test="isOkGroup != null and isOkGroup != '' " >
                <![CDATA[  #{isOkGroup}, ]]>
            </if>
            <if test="dayGroupNum != null and dayGroupNum != '' " >
                <![CDATA[  #{dayGroupNum}, ]]>
            </if>
            <if test="wxQrCode != null and wxQrCode != '' " >
                <![CDATA[  #{wxQrCode}, ]]>
            </if>
            <if test="useStatus != null and useStatus != '' " >
                <![CDATA[  #{useStatus}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.fine.master.core.model.wx.WxModel">
        UPDATE tb_fn_wx a
        <trim prefix="set" suffixOverrides=",">
            <if test="acName != null and acName != '' " >
                a.ac_name = #{acName},
            </if>
            <if test="wxPassWd != null and wxPassWd != '' " >
                a.wx_pass_wd = #{wxPassWd},
            </if>
            <if test="wxName != null and wxName != '' " >
                a.wx_name = #{wxName},
            </if>
            <if test="toWxid != null and toWxid != '' " >
                a.to_wxid = #{toWxid},
            </if>
            <if test="totalLink != null and totalLink != '' " >
                a.total_link = #{totalLink},
            </if>
            <if test="bindingMobile != null and bindingMobile != '' " >
                a.binding_mobile = #{bindingMobile},
            </if>
            <if test="dataNum != null and dataNum != '' " >
                a.data_num = #{dataNum},
            </if>
            <if test="isDataNum != null and isDataNum != '' " >
                a.is_data_num = #{isDataNum},
            </if>
            <if test="isOk != null and isOk != '' " >
                a.is_ok = #{isOk},
            </if>
            <if test="dayNum != null and dayNum != '' " >
                a.day_num = #{dayNum},
            </if>
            <if test="groupNum != null and groupNum != '' " >
                a.group_num = #{groupNum},
            </if>
            <if test="isGroupNum != null and isGroupNum != '' " >
                a.is_group_num = #{isGroupNum},
            </if>
            <if test="isOkGroup != null and isOkGroup != '' " >
                a.is_ok_group = #{isOkGroup},
            </if>
            <if test="dayGroupNum != null and dayGroupNum != '' " >
                a.day_group_num = #{dayGroupNum},
            </if>
            <if test="wxQrCode != null and wxQrCode != '' " >
                a.wx_qr_code = #{wxQrCode},
            </if>
            <if test="loginType != null and loginType != '' " >
                a.login_type = #{loginType},
            </if>
            <if test="useStatus != null and useStatus != '' " >
                a.use_status = #{useStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fn_wx a
        <trim prefix="set" suffixOverrides=",">
            <if test="useStatus != null and useStatus != '' " >
                a.use_status = #{useStatus},
            </if>
            <if test="yn != null and yn != '' " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


    <!-- 获取小微的数据集合 -->
    <select id="getWxList" parameterType="Object" resultType="com.hz.fine.master.core.model.wx.WxModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_wx a
        <include refid="Example_Where_Clause"/>
    </select>





</mapper>