<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.fine.master.core.mapper.DidWxSortMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.did,a.wx_nickname,a.to_wxid,a.sort,a.in_use,a.delay_time,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="did != null and did != '' " >
                and a.did = #{did}
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                and a.wx_nickname = #{wxNickname}
            </if>
            <if test="toWxid != null and toWxid != '' " >
                and a.to_wxid = #{toWxid}
            </if>
            <if test="sort != null and sort != '' " >
                and a.sort = #{sort}
            </if>
            <if test="inUse != null and inUse != '' " >
                and a.in_use = #{inUse}
            </if>
            <if test="startSort != null and startSort != '' " >
                and a.sort > #{startSort}
            </if>
            <if test="endSort != null and endSort != '' " >
                and a.sort &lt; #{endSort}
            </if>
            <if test="startDelayTime != null and startDelayTime != '' " >
                and a.delay_time > now()
            </if>
            <if test="endDelayTime != null and endDelayTime != '' " >
                <!--and a.delay_time &lt; now()-->
                and (a.delay_time &lt; now() or delay_time is null)
            </if>
            <if test="startCreateTime != null and startCreateTime != '' " >
                and a.create_time > #{startCreateTime}
            </if>
            <if test="endCreateTime != null and endCreateTime != '' " >
                and a.create_time &lt; #{endCreateTime}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.sort asc
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By_Desc">
        order by a.sort desc
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By_Asc">
        order by a.sort asc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.fine.master.core.model.did.DidWxSortModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_wx_sort a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.fine.master.core.model.did.DidWxSortModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_wx_sort a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.fine.master.core.model.did.DidWxSortModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_wx_sort a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.fine.master.core.model.did.DidWxSortModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_wx_sort a
        <include refid="Example_Where_Clause_id"/>
    </select>


    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fn_did_wx_sort a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.fine.master.core.model.did.DidWxSortModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_wx_sort a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.fine.master.core.model.did.DidWxSortModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_fn_did_wx_sort
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null and did != '' " >
                did,
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                wx_nickname,
            </if>
            <if test="toWxid != null and toWxid != '' " >
                to_wxid,
            </if>
            <if test="sort != null and sort != '' " >
                sort,
            </if>
            <if test="inUse != null and inUse != '' " >
                in_use,
            </if>
            <if test="delayTime != null and delayTime != '' " >
                delay_time,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null and did != '' " >
                <![CDATA[  #{did}, ]]>
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                <![CDATA[  #{wxNickname}, ]]>
            </if>
            <if test="toWxid != null and toWxid != '' " >
                <![CDATA[  #{toWxid}, ]]>
            </if>
            <if test="sort != null and sort != '' " >
                <![CDATA[  #{sort}, ]]>
            </if>
            <if test="inUse != null and inUse != '' " >
                <![CDATA[  #{inUse}, ]]>
            </if>
            <if test="delayTime != null and delayTime != '' " >
                <![CDATA[  #{delayTime}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.fine.master.core.model.did.DidWxSortModel">
        UPDATE tb_fn_did_wx_sort a
        <trim prefix="set" suffixOverrides=",">
            <if test="did != null and did != '' " >
                a.did = #{did},
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                a.wx_nickname = #{wxNickname},
            </if>
            <if test="toWxid != null and toWxid != '' " >
                a.to_wxid = #{toWxid},
            </if>
            <if test="sort != null and sort != '' " >
                a.sort = #{sort},
            </if>
            <if test="inUse != null and inUse != '' " >
                a.in_use = #{inUse},
            </if>
            <if test="delayTime != null and delayTime != '' " >
                a.delay_time = #{delayTime},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fn_did_wx_sort a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!-- 获取最大的排序-->
    <select id="sucMoneyByTowxid" parameterType="com.hz.fine.master.core.model.did.DidWxSortModel" resultType="java.lang.Integer">
        select max(a.sort) as maxSort from tb_fn_did_wx_sort a
        <include refid="Example_Where_Clause"/>
    </select>


    <!-- 添加用户的微信出码排序的数据 -->
    <insert id="addBySort" parameterType="com.hz.fine.master.core.model.did.DidWxSortModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_fn_did_wx_sort(did,wx_nickname,to_wxid,sort,create_time)
        select #{did}, #{wxNickname}, #{toWxid}, ifnull(max(sort),0)+1 as sort, now()
        from tb_fn_did_wx_sort a
        where 1=1
        and a.did = #{did}
        and a.yn = 0
    </insert>

    <!-- 更新使用中的状态 -->
    <update id="updateInUse" parameterType="com.hz.fine.master.core.model.did.DidWxSortModel">
        UPDATE tb_fn_did_wx_sort a
        <trim prefix="set" suffixOverrides=",">
            <if test="upInUse != null and upInUse != '' " >
                a.in_use = #{upInUse},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause"/>
    </update>

</mapper>