<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.fine.master.core.mapper.ConsultAskMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.consult_id,a.title,a.did,a.ask,a.ask_ads,a.reply_status,
        a.create_time,a.update_time,a.yn,
        b.category_name
    </sql>


    <!-- 一对多 -->
    <resultMap type="com.hz.fine.master.core.model.consult.ConsultAskModel" id="dataMap">
        <id property="id" column="id" />
        <result property="consultId" column="consult_id" />
        <result property="title" column="title" />
        <result property="did" column="did" />
        <result property="ask" column="ask" />
        <result property="askAds" column="ask_ads" />
        <result property="replyStatus" column="reply_status" />
        <result property="createTime" column="create_time" />
        <result property="categoryName" column="category_name" />
        <collection property="askReplyList" ofType="com.hz.fine.master.core.model.consult.ConsultAskReplyModel"
                    resultMap="dataInfoMap"/>
    </resultMap>


    <resultMap type="com.hz.fine.master.core.model.consult.ConsultAskReplyModel" id="dataInfoMap">
        <id property="consultAskReplyId" column="consult_ask_reply_id" />
        <result property="askReply" column="ask_reply" />
        <result property="askReplyAds" column="ask_reply_ads" />
        <result property="dataType" column="data_type" />
        <result property="consultAskReplyCreateTime" column="consult_ask_reply_create_time" />
    </resultMap>



    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="consultId != null and consultId != '' " >
                and a.consult_id = #{consultId}
            </if>
            <if test="did != null and did != '' " >
                and a.did = #{did}
            </if>
            <if test="replyStatus != null and replyStatus != '' " >
                and a.reply_status = #{replyStatus}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.fine.master.core.model.consult.ConsultAskModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask a left join tb_fn_consult b on a.consult_id = b.id
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.fine.master.core.model.consult.ConsultAskModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask a left join tb_fn_consult b on a.consult_id = b.id
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.fine.master.core.model.consult.ConsultAskModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask a left join tb_fn_consult b on a.consult_id = b.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.fine.master.core.model.consult.ConsultAskModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask a left join tb_fn_consult b on a.consult_id = b.id
        <include refid="Example_Where_Clause_id"/>
    </select>



    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fn_consult_ask a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.fine.master.core.model.consult.ConsultAskModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask a left join tb_fn_consult b on a.consult_id = b.id
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.fine.master.core.model.consult.ConsultAskModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_fn_consult_ask
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="consultId != null and consultId != '' " >
                consult_id,
            </if>
            <if test="title != null and title != '' " >
                title,
            </if>
            <if test="did != null and did != '' " >
                did,
            </if>
            <if test="ask != null and ask != '' " >
                ask,
            </if>
            <if test="askAds != null and askAds != '' " >
                ask_ads,
            </if>
            <if test="replyStatus != null and replyStatus != '' " >
                reply_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="categoryName != null and categoryName != '' " >
                <![CDATA[  #{categoryName}, ]]>
            </if>
            <if test="consultId != null and consultId != '' " >
                <![CDATA[  #{consultId}, ]]>
            </if>
            <if test="title != null and title != '' " >
                <![CDATA[  #{title}, ]]>
            </if>
            <if test="did != null and did != '' " >
                <![CDATA[  #{did}, ]]>
            </if>
            <if test="ask != null and ask != '' " >
                <![CDATA[  #{ask}, ]]>
            </if>
            <if test="askAds != null and askAds != '' " >
                <![CDATA[  #{askAds}, ]]>
            </if>
            <if test="replyStatus != null and replyStatus != '' " >
                <![CDATA[  #{replyStatus}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.fine.master.core.model.consult.ConsultAskModel">
        UPDATE tb_fn_consult_ask a
        <trim prefix="set" suffixOverrides=",">
            <if test="consultId != null and consultId != '' " >
                a.consult_id = #{consultId},
            </if>
            <if test="title != null and title != '' " >
                a.title = #{title},
            </if>
            <if test="did != null and did != '' " >
                a.did = #{did},
            </if>
            <if test="ask != null and ask != '' " >
                a.ask = #{ask},
            </if>
            <if test="askAds != null and askAds != '' " >
                a.ask_ads = #{askAds},
            </if>
            <if test="replyStatus != null and replyStatus != '' " >
                a.reply_status = #{replyStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fn_consult_ask a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


    <!-- 查询提问的详情-一对多 -->
    <select id="getConsultAskInfo" parameterType="Object" resultMap="dataMap">
        select
            a.id,a.consult_id,a.title,a.did,a.ask,a.ask_ads,a.reply_status,
            a.create_time,a.update_time,a.yn,
            b.category_name,
            c.id as consult_ask_reply_id,c.ask_reply,c.ask_reply_ads,c.data_type,c.create_time as consult_ask_reply_create_time
        from tb_fn_consult_ask a left join tb_fn_consult b on a.consult_id = b.id and b.yn = 0
        left join tb_fn_consult_ask_reply c on a.id = c.consult_ask_id and c.yn = 0
        where 1=1
        and a.id = #{id}
        and a.did = #{did}
        and a.yn = 0
        order by c.create_time asc
    </select>


</mapper>