<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.fine.master.core.mapper.ConsultAskReplyMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.consult_ask_id,a.ask_reply,a.ask_reply_ads,a.data_type,
        a.create_time,a.update_time,a.yn,
        b.title,b.ask
    </sql>


    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="consultAskId != null and consultAskId != '' " >
                and a.consult_ask_id = #{consultAskId}
            </if>
            <if test="dataType != null and dataType != '' " >
                and a.data_type = #{dataType}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time asc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.fine.master.core.model.consult.ConsultAskReplyModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask_reply a left join tb_fn_consult_ask b on a.consult_ask_id = b.id
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.fine.master.core.model.consult.ConsultAskReplyModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask_reply a left join tb_fn_consult_ask b on a.consult_ask_id = b.id
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.fine.master.core.model.consult.ConsultAskReplyModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask_reply a left join tb_fn_consult_ask b on a.consult_ask_id = b.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.fine.master.core.model.consult.ConsultAskReplyModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask_reply a left join tb_fn_consult_ask b on a.consult_ask_id = b.id
        <include refid="Example_Where_Clause_id"/>
    </select>



    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fn_consult_ask_reply a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.fine.master.core.model.consult.ConsultAskReplyModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_consult_ask_reply a left join tb_fn_consult_ask b on a.consult_ask_id = b.id
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.fine.master.core.model.consult.ConsultAskReplyModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_fn_consult_ask_reply
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="consultAskId != null and consultAskId != '' " >
                consult_ask_id,
            </if>
            <if test="askReply != null and askReply != '' " >
                ask_reply,
            </if>
            <if test="askReplyAds != null and askReplyAds != '' " >
                ask_reply_ads,
            </if>
            <if test="dataType != null and dataType != '' " >
                data_type,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="consultAskId != null and consultAskId != '' " >
                <![CDATA[  #{consultAskId}, ]]>
            </if>
            <if test="askReply != null and askReply != '' " >
                <![CDATA[  #{askReply}, ]]>
            </if>
            <if test="askReplyAds != null and askReplyAds != '' " >
                <![CDATA[  #{askReplyAds}, ]]>
            </if>
            <if test="dataType != null and dataType != '' " >
                <![CDATA[  #{dataType}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.fine.master.core.model.consult.ConsultAskReplyModel">
        UPDATE tb_fn_consult_ask_reply a
        <trim prefix="set" suffixOverrides=",">
            <if test="consultAskId != null and consultAskId != '' " >
                a.consult_ask_id = #{consultAskId},
            </if>
            <if test="askReply != null and askReply != '' " >
                a.ask_reply = #{askReply},
            </if>
            <if test="askReplyAds != null and askReplyAds != '' " >
                a.ask_reply_ads = #{askReplyAds},
            </if>
            <if test="dataType != null and dataType != '' " >
                a.data_type = #{dataType},
            </if>
            <if test="did != null and did != '' " >
                b.did = #{did},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fn_consult_ask_reply a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>





</mapper>